/*
!.gitignore
!README.md
!.emacs.d/
.emacs.d/elpa
**/*ache
**/*ache*
!.config/alacritty
!.config/autostart
!.config/emacs
!.config/fish
!.config/lutris
!.config/micro
!.config/neofetch
!.config/nitrogen
!.config/pulse
!.config/sway
!.config/xmobar
!.config/xmonad